{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      {{ if eq $.Site.Language.LanguageName "English" }}
      <a class="btn btn-primary btn-lg px-4 mb-2"
        href="/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/"
        role="button">Get Start</a>
      {{end}}
      {{ if eq $.Site.Language.LanguageName "简体中文" }}
      <a class="btn btn-primary btn-lg px-4 mb-2"
        href="/cn/docs/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}prologue/introduction/"
        role="button">开 始</a>
      {{end}}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ if eq $.Site.Language.LanguageName "English" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Security aware</h2>
        <p>Get A+ scores on <a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a>
          out of the box. Easily change the default Security Headers to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=92eaa982d7dbf92f94fe8ecc03987c9a">Google
            Lighthouse</a> by default. Doks removes unused css, prefetches links, and lazy loads images.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO-ready</h2>
        <p>Use sensible defaults for structured data, open graph, and Twitter cards. Or easily change the SEO settings
          to your liking.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Full text search</h2>
        <p>Search your Doks site with FlexSearch. Easily customize index settings and search options to your liking.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Page layouts</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit
          your needs.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Dark mode</h2>
        <p>Switch to a low-light UI with the click of a button. Change colors with variables to match your branding.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ if eq $.Site.Language.LanguageName "简体中文" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">安全意识</h2>
        <p>开箱即可在<a href="https://observatory.mozilla.org/analyze/doks.netlify.app">Mozilla Observatory</a>
          上获得 A+ 分数。轻松更改默认安全标头以满足您的需求。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">默认快速 ⚡️</h2>
        <p>Get 100 scores on <a
            href="https://googlechrome.github.io/lighthouse/viewer/?gist=92eaa982d7dbf92f94fe8ecc03987c9a">默认在 Google
            Lighthouse</a>上获得 100 分。删除未使用的 css、预取链接和延迟加载图像。/p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">SEO 就绪</h2>
        <p>对结构化数据、开放图和 Twitter 卡片使用合理的默认值。或者根据自己的喜好轻松更改 SEO 设置。</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">全文搜索</h2>
        <p>使用 FlexSearch 搜索您的站点。根据您的喜好轻松自定义索引设置和搜索选项。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">页面布局</h2>
        <p>使用登录页面、博客或文档布局构建页面。添加自定义部分和组件以满足您的需求。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">黑暗模式</h2>
        <p>只需单击一个按钮即可切换到低光用户界面。使用变量更改颜色以匹配您的品牌。</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}